<h1>Welcome to movie stuff!</h1>
<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Movierentals" asp-action="Registration">Register Movie</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Movierentals" asp-action="ListMovies">List Movies</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Movierentals" asp-action="Search">Search</a></li>
</ul>